.main.dark {
    background-color: #222222;
    color: rgb(156, 156, 156);

    .sidebar {
        background-color: #222222;
        border-color: #333333;

        .top {
            .logo {
                color: #999999;
            }
        }

        hr {
            border-color: rgba(255, 255, 255, 0.27);
        }

        .center {
            .title {
                color: #999999;
            }

            li:hover span {
                color: white;
            }

            a.active span {
                color: rgba(255, 255, 255, 0.86);
            }
        }
    }

    .container {
        .navbar {
            background-color: #222222;
            color: rgb(156, 156, 156);
            border-color: #333333;

            .search {
                border-color: gray;
                caret-color: gray;
            }
        }

        .datatable {
            .datagrid {
                color: gray;
                border: none;

                .viewButton, .deleteButton {
                    border: none;
                    color: gray;

                    &:hover {
                        color: #222222;
                    }
                }

                .viewButton {
                    &:hover {
                        background-color: #c8dead;
                    }
                }
            }
        }
    }

    .chartGrid {
        stroke: rgba(228, 228, 228, .219)
    }

    .table {
        background-color: rgba(17, 17, 17, 0.33);

        .tableCell {
            color: rgb(156, 156, 156);
        }
    }
}

.navbar .wrapper .search input::placeholder {
    color: rgb(156, 156, 156);
}